<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba</title>
</head>
<body>
    <article>
        <h1>Pruebas</h1>
        <ul>
            {% for prueba in pruebas%}
                <li>  
                    titulo: {{prueba.title}}                
                    <ul>
                        <li>content: {{prueba.content}}</li>
                        <li>cantidad: {{prueba.cantidad}}</li>
                    </ul>
                </li>          
            {% endfor %}
        </ul>
    </article> 
</body>
</html>